---
title: Life of a designer
layout: default
subtitle: Life of a Designer
section: index
---

{% for post in site.posts limit:5 %}
{% if post.categories contains "portfolio" %}
        {% else %}
    <div class="entry">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="meta">
            <span>{{ post.date | date: "%e %b %Y" }}</span>
        </div>
        <div class="post">
            {% assign lines = post.content | split: '</p>' %}{{ lines[0] }}</p>
        </div>
    </div>
{% endif %}      
{% endfor %}
